<main>
  <%= render 'sidebar' %>
  <div class="dashboard-content">
    <%# Telemedics Section %>
    <div class="telemedics-section">
    <%= render "telemedics-view" %>
    <%= render "telemedics-add" %>
    <%# <%= render "telemedics-update" %>
    </div>

    <%= form_tag("/logout", :method => "post") do %>
        <%= submit_tag("Logout") %>
    <% end %>
  </div>
</main>
