<main>
  <div class="sidebar">
    <a>Telemedic - View All</a>
    <a>Telemedics - Add New</a>
    <a>Telemedic - Update</a>
  </div>
  <div class="dashboard-content">
    <%# Telemedics Section %>
    <div class="telemedics-section">
    <%= render "telemedics-view" %>
    <%= render "telemedics-add" %>
    <%# <%= render "telemedics-update" %>
    </div>

    <%= form_tag("/logout", :method => "post") do %>
        <%= submit_tag("Logout") %>
    <% end %>
  </div>
</main>
