<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <%= image_tag("image-1.jpg", class: "d-block w-100", alt: "Co We Can") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>...</p>
        </div>
        </div>
        <div class="carousel-item">
        <%= image_tag("image-2.jpg", class: "d-block w-100", alt: "Shanawaz S. Shaikh") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>...</p>
        </div>
        
        </div>
        <div class="carousel-item">
        <%= image_tag("image-3.jpg", class: "d-block w-100", alt: "Covid 19 WHO") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>...</p>
        </div>
        
        </div>
        <div class="carousel-item">
        <%= image_tag("image-4.png", class: "d-block w-100", alt: "Covid 19 WHO") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>...</p>
        </div>
        
        </div>
        <div class="carousel-item">
        <%= image_tag("image-5.png", class: "d-block w-100", alt: "Covid 19 WHO") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>...</p>
        </div>
        
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="root-wrapper mt-5">
        <h1 class="title-text">Important Covid Resources</h1>
        <div class="button-wrapper mt-3 mb-5">
            <a href="/telemedics" class="btn btn-primary resource-button">Doctors</a>
            <a href="/telemedics" class="btn btn-primary resource-button">Telemedics Doctors</a>
            <a href="/telemedics" class="btn btn-primary resource-button">Oxygen Suppliers</a>
            <a href="/telemedics" class="btn btn-primary resource-button">Oxygen Dealers</a>
            <a href="/telemedics" class="btn btn-primary resource-button">Beds</a>
            <a href="/telemedics" class="btn btn-primary resource-button">Plasma</a>
            <a href="/telemedics" class="btn btn-primary resource-button">Other Useful Links</a>
        </div>
    </div>
</div>