<!DOCTYPE html>
<html>
  <head>
    <title>TeleCov</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="COVID19 Resources India">
    <meta property="og:description" content="List of all the doctors,telemedics,oxygen related data. Please share forward to help someone in need ">
    <meta property="og:image" content="https://i.ibb.co/T82d6jG/image-1.png">
    <meta property="og:url" content="https://covid19-resources-india.herokuapp.com/">
    <meta name="twitter:title" content="COVID19 Resources India ">
    <meta name="twitter:description" content="List of all the doctors,telemedics,oxygen related data. Please share forward to help someone in need ">
    <meta name="twitter:image" content=" https://i.ibb.co/T82d6jG/image-1.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path("apple-touch-icon.png")%>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%=asset_path("favicon-32x32.png")%>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%=asset_path("favicon-16x16.png")%>">
    <link rel="manifest" href="<%=asset_path("site.webmanifest")%>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CVJ4C31TYQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-CVJ4C31TYQ');
    </script>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Tele Cov</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="<%= 'active' if current_page?(root_path) %>">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="<%= 'active' if current_page?(doctors_path) %>">
          <a class="nav-link" href="/doctors">Doctors</a>
        </li>
        <li class="<%= 'active' if current_page?(telemedics_path) %>">
          <a class="nav-link" href="/telemedics">Telemedics Doctor</a>
        </li>
        <li class="<%= 'active' if current_page?(oxygen_path) %>">
          <a class="nav-link" href="/oxygen">Oxygen Suppliers</a>
        </li>
        <li class="<%= 'active' if current_page?(oxygen_dealers_path) %>">
          <a class="nav-link" href="/oxygen-dealers">Oxygen Dealers</a>
        </li>
        <li class="<%= 'active' if current_page?(beds_path) %>">
          <a class="nav-link" href="/beds">Beds</a>
        </li>
        <li class="<%= 'active' if current_page?(plasma_path) %>">
          <a class="nav-link" href="/plasma">Plasma</a>
        </li>
        <li class="<%= 'active' if current_page?(other_path) %>">
          <a class="nav-link" href="/other">Other Useful Links</a>
        </li>
        <li>
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <%= yield %>
    <footer class="footer">
      <p class="m-0">Made with <span class="heart">♥</span> in India</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
  </body>
</html>
